

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

h1 {
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
}

h2 {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

h3 {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

table {
	border: solid #6297F9 1px;
	border-collapse:collapse;
}
td {
	padding: 6px;
	border: solid #000 1px;
}
th {
	font-weight: bold;
	background-color: #627E8F;
	text-align: center;
	padding: 6px;
	border: solid #224E6A 1px;
}
a:link {
	color: #6297F9;
}
a:visited {
	color: #6297F9;
}
a:hover {
	color: #4578DF;
	text-decoration: none;
}

#splash{
    background-color: #224E6A;
    height: 650px;
    background: url(images/stickFigures.png) no-repeat center top fixed;
}

#overview{
    padding: 40px 0 60px 0;
    background-color: #737373;
}

#video{
    padding: 40px 0 60px 0;
    background-color: #FFB0A2;
    background: url(images/tieCollection.jpg) no-repeat center top fixed;
}

#exampleClothes{
    padding: 40px 0 60px 0;
    background-color: #52AEA0;
}

#footer{
    padding: 40px 0 60px 0;
    background-color: #627E8F;
}

.container {
  width: 960px; /* static width container always stays at this width no matter what the window size */
  margin: 0 auto;
  overflow: hidden;
}

/* ----------------- NAVIGATION BAR STYLES -------------------*/ 

#navbar{
	position: fixed; /* navbar should always be shown even when page is scrolled */
	top: 0;
	width: 100%;
	height: 54px;
	background-color: rgba(255, 255, 255, 0.4); 
}	
/* horizontal menu bars are typically created using a styled unordered list. Here's how! */
ul#menu {
	list-style: none; /* eliminates bullets */
	/* adjust padding top to adjust nav bar vertical position */
	padding-top: 0px;
} 
ul#menu li {
	float: left; /* changes list from vertical to horizontal */
	padding-bottom: 20px;
} 
ul#menu li a.button {
	font-size: 16px;
	text-decoration: none;
	/* this padding defines the size of the buttons */
	padding: 20px 100px 20px 100px; 
	color: #224E6A;
}
/* change button color when mouse hovers over */
ul#menu li a.button:hover {
	background-color: #627E8F;
	color: #FFF;
}  

#title-page{
  width: 100%;
  padding-top: 200px; /* provides a lot of space above title to view the background image */
  color: #fff;
  text-align: right;
}